<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<!--  <suite name="Test Suite" verbose="2" parallel="methods" thread-count="2">  -->
<suite name="Test Suite" verbose="2">
	<test name="Login Test">
<!-- 		<groups> -->
<!-- 			<run> -->
<!-- 				<include name="Google"></include> -->
<!-- 				<include name="Bing"></include> -->
<!-- 			</run> -->
<!-- 		</groups> -->
<!-- 	<parameter name="Website Name" value="https://www.google.co.in"></parameter>  -->	
		<classes>
			<class name="loginTC.LoginTestCase"></class>
		</classes>
	</test>
</suite>

<!-- <classes> -->
<!-- <class name="testNG.AnnotationProject1"></class> -->
<!-- <class name="testNG.AnnotationProject2"></class> -->
<!-- </classes> -->